<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Proyecto.Properties.Settings.PaquetesConnectionString"
            connectionString="Data Source=DESKTOP-E31OHRC;Initial Catalog=paquete;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Proyecto.Properties.Settings.PaqueteConnectionString"
            connectionString="Data Source=DESKTOP-E31OHRC;Initial Catalog=paquete;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Proyecto.Properties.Settings.paqueteConnectionString1"
            connectionString="Data Source=DESKTOP-E31OHRC;Initial Catalog=paquete;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>